@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("../fonts/dm_sans_400.woff2") format("woff2"), url("../fonts/dm_sans_400.woff") format("woff"); }

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("../fonts/dm_sans_700.woff2") format("woff2"), url("../fonts/dm_sans_700.woff") format("woff"); }

@font-face {
  font-family: "DM Serif Display";
  font-weight: 700;
  font-style: normal;
  src: local("DM Serif Display"), local("DM-Serif-Display"), url("../fonts/dm_serif_display_400.woff2") format("woff2"), url("../fonts/dm_serif_display_400.woff") format("woff"); }

html {
  --paragraph-font-size: $base-font-size; }

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border-radius: 5px; }

.container {
  padding-inline: 14px; }

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", "Times New Roman", Times, serif;
  margin: 0; }

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    margin: auto;
    padding-inline: 0; } }

.header-site {
  background-color: #434CCC;
  color: #FFFFFF; }

.header-site__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 16px; }

.header-site__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0; }
  .header-site__heading a {
    text-transform: uppercase;
    color: #FFFFFF; }

.icon_menu {
  background-image: url("../images/icon_menu.svg");
  background-size: 20px 14px;
  background-repeat: no-repeat;
  background-position: center; }

.header-site__menu--checkbox > label {
  width: 1rem;
  height: 27px;
  display: block; }

@media (min-width: 1170px) {
  .header-site__menu--checkbox {
    display: none; } }

.header-site__menu {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s; }
  .header-site__menu ul {
    background-color: #434ccc;
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 5px;
    list-style: none;
    margin: 0; }
  .header-site__menu a {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: right; }

[type="checkbox"]:checked ~ nav {
  transform: translateX(0%);
  top: 70%;
  left: -5%; }

#menu_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

@media (min-width: 1170px) {
  .header-site__menu {
    position: relative;
    bottom: auto;
    width: auto;
    transform: none;
    transition: none;
    margin: 0;
    padding: 0; }
    .header-site__menu ul {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      padding: 0;
      height: auto; } }

.a11y {
  display: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; }

.main-header {
  background-color: rgba(67, 76, 204, 0.05);
  padding-top: 31px; }

.main-header__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px; }

.breadcrumb-link {
  order: 1;
  padding-left: calc(38px - 14px);
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px;
  background-image: url("../images/icon_arrow_left.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: left; }
  .breadcrumb-link a {
    color: rgba(0, 0, 0, 0.5); }

.main-header__heading {
  order: 2;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
  margin: 0; }

.introduction {
  order: 3;
  font-size: 18px;
  line-height: 32px;
  color: #000000; }

@media (min-width: 1170px) {
  .main-header__heading {
    font-size: 72px;
    line-height: 80px; }
  .breadcrumb-link,
  .main-header__heading,
  .introduction {
    max-width: 585px;
    text-align: left; } }

.image-slider {
  background-color: rgba(67, 76, 204, 0.05);
  padding-top: 80px;
  padding-bottom: 105px; }

.image-slider__list {
  display: flex;
  flex-direction: row;
  column-gap: 9px;
  overflow: hidden;
  flex-basis: fill;
  padding-top: 8px; }
  .image-slider__list img {
    width: 137px;
    height: 85px; }
  .image-slider__list img:not(.active-image) {
    opacity: 0.5; }

.head {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px; }

.detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0; }

.active-image-details {
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 40px;
  column-gap: 70px; }

.active-image__article {
  padding-top: 75px; }

.active-image__article--title {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 31px; }

.active-image__article--summary {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 31px; }

.active-image__article--description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 31px; }

.sharing-links {
  display: flex;
  flex-direction: row;
  column-gap: 10px; }

.sharing-links a {
  display: block;
  width: 1rem;
  height: 27px; }

.icon-facebook {
  background-image: url("../images/icon_facebook.svg");
  background-size: 9px 18px;
  background-repeat: no-repeat;
  background-position: center; }

.icon-twitter {
  background-image: url("../images/icon_twitter.svg");
  background-size: 13px 15px;
  background-repeat: no-repeat;
  background-position: center; }

.icon-instagram {
  background-image: url("../images/icon_instagram.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 1170px) {
  .image-slider__list {
    column-gap: 10.5px; }
  .active-image__article--title {
    font-size: 52px;
    line-height: 64px; }
  .image-slider__about-the-main-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; } }

.suscribe {
  background-color: #FFDD78;
  padding-top: 63px;
  padding-bottom: 53px; }

.suscribe__container header {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  padding-bottom: 60px; }

.suscribe__heading {
  font-size: 40px;
  line-height: 48px;
  order: 2; }

.hint {
  order: 1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #000000; }

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  row-gap: 9px; }
  fieldset label {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 9px; }
  fieldset input {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid  #DADADA;
    min-width: calc(375px - 56px); }
  fieldset input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 24px; }

.suscribe__container button {
  height: 48px;
  background-color: #434CCC;
  padding: 12px 32px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

@media (min-width: 1170px) {
  .suscribe__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; }
  .suscribe__container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 54px; }
  .suscribe__container header {
    max-width: 382px; }
    .suscribe__container header .suscribe__heading {
      font-size: 52px;
      line-height: 64px; }
  .suscribe__container button {
    box-sizing: border-box;
    margin-top: calc(9px + 16px); } }

.main-footer {
  background-color: #FFFFFF;
  padding-top: 75px;
  padding-bottom: 70px; }

.main-footer .logo {
  font-family: "DM Serif Display", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 23px; }
  .main-footer .logo a {
    text-transform: uppercase;
    color: #000000; }

.main-footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 70px; }

.about-the-website-owner .description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 23px; }

.about-the-website-owner ul {
  display: flex;
  flex-direction: row;
  column-gap: 10px; }

.about-the-website-owner li {
  width: 1rem;
  height: 1rem;
  text-indent: -9999px; }

.main-footer__navigation li a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px; }

.main-footer__navigation li:first-of-type a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000; }

.main-footer__navigation li:first-of-type {
  padding-bottom: 23px; }

.blog-list li {
  display: flex;
  column-gap: 25px; }
  .blog-list li img {
    width: 70px;
    height: 48px; }
  .blog-list li p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
    .blog-list li p a {
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; }

.blog-list li:first-of-type {
  margin-bottom: 26px; }

@media (min-width: 1170px) {
  .main-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between; } }

.footer-site {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 26px;
  padding-bottom: 28px; }

.footer-site p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px; }

@media (min-width: 1170px) {
  .footer-site__container {
    display: flex;
    justify-content: space-between; }
  .footer-site {
    padding-bottom: 75px; } }
