:root {
  --paragraph-font-size: #{$base-font-size};
  --black-text: #{$colour-text-black};
  --grey-text: #{$colour-text-grey};
}

body {
  font-family: $font-base, $font-base-fallbacks;
  margin: 0;
  transition: all 0.3s;
  position: relative;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border-radius: 5px;
}

.container {
  padding-inline: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-header, $font-header-fallbacks;
  margin: 0;
}

@media (min-width: $breakpoint) {
  .container {
    max-width: $breakpoint;
    margin: auto;
    padding-inline: 0;
  }
}