html {
  --paragraph-font-size: $base-font-size;
}

body {
  font-family: $font-base, $font-base-fallbacks;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border-radius: 5px;
}

.container {
  padding-inline: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-header, $font-header-fallbacks;
  margin: 0;
}

@media (min-width: $breakpoint) {
  .container {
    max-width: $breakpoint;
    margin: auto;
  }
}