html {
  --paragraph-font-size: $base-font-size;
}

body {
  font-family: $font-base, $font-base-fallbacks;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 14px;
}

@media (min-width: $breakpoint) {
  .container {
    max-width: $breakpoint;
    margin: auto;
  }
}