.header-site {
  background-color: $colour-blue;
  color: $colour-white;
}

.header-site__container {
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-block: 16px;
}

.header-site__heading {
  font-weight: $font-weight-bold;
  font-size: calc(var(--base-font-size) * 1.5);
  line-height: calc(var(--base-line-height) * 2);
  margin: 0;

  a {
    text-transform: uppercase;
    color: $colour-white;
  }
}

.icon_menu {
  background-image: image('icon_menu.svg');
  background-size: 20px 14px;
  @include icon-bg;
}

.header-site__container  label {
  width: 16px;
  height: 27px;
  display: block;
}

@media (min-width: $breakpoint) {
  .header-site__container label {
    display: none;
  }

  .header-site__heading {
    font-size: calc(var(--base-font-size) * 2.5);
    line-height: calc(var(--base-line-height) * 3);
  }
}