.main-header {
  background-color: $colour-slightly-white;
  padding-top: 31px;
}

.main-header__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.breadcrumb-link {
  order: 1;
  padding-left: calc(38px - 14px);
  @include grey-text;
  background-image: image('icon_arrow_left.svg');
  background-size: 14px;
  @include icon-bg;
  background-position: left;
  
  a {
    color: $colour-text-grey;
  }
}

.main-header__heading {
  order: 2; 
  font-size: 52px;
  line-height: 64px;
  color: $colour-text-black;
  margin: 0;
}

.introduction {
  order: 3;
  font-size: 18px;
  line-height: 32px;
  color: $colour-text-black;
}

@media (min-width: $breakpoint) {
  .main-header__heading {
    font-size: 72px;
    line-height: 80px;
  }
  .breadcrumb-link,
  .main-header__heading,
  .introduction {
    max-width: 585px;
    text-align: left;
  }
  
}