.header-site__menu {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    ul {
      background-color: rgba($color: $colour-blue, $alpha: 1);
      height: 100vh;
      padding: 5rem;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      border-radius: 5px;
      @include reset-list;
    }

    a {
      font-weight: $font-weight-bold;
      color: $colour-white;
      font-size: $base-font-size;
      line-height: 24px;
      text-align: right;
    }

  }

  body > [type="checkbox"]:checked ~ header nav {
    transform: translateX(0%);
    z-index: 2;
    top: 70%;
    left: -5%;
  }


  #menu_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }
 
 @media (min-width: $breakpoint) {
  .header-site__menu {
    position: relative;
    bottom: auto;
    width: auto;
    transform: none;
    transition: none;
    margin: 0;
    padding: 0;

    ul {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      padding: 0;
      height: auto;
    }
  }
 }