.suscribe {
  background-color: $colour-yellow;
  padding-top: 63px;
  padding-bottom: 53px;
}

.suscribe__container header {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  padding-bottom: 60px;
}

.suscribe__heading {
  font-size: 40px;
  line-height: 48px;
  order: 2;
}

.hint {
  order: 1;
  text-transform: uppercase;
  font-size: $base-font-size;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: $colour-text-black;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  row-gap: 9px;

  label {
    font-weight: $font-weight-bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  input {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid  #DADADA;
    min-width: calc(375px - 56px);
  }

  input::placeholder {
    @include grey-text;
  }
}

.suscribe__container button {
  height: 48px;
  background-color: $colour-blue;
  padding: 12px 32px;
  border: none;
  border-radius: 5px;
  color: $colour-white;
  font-weight: $font-weight-bold;
  font-size: $base-font-size;
  line-height: 24px;
}

@media (min-width:$breakpoint) {
  .suscribe__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .suscribe__container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 54px;
    
  }

  .suscribe__container header {
    max-width: 382px;

    .suscribe__heading {
      font-size: 52px;
      line-height: 64px;
    }
  }

  .suscribe__container button {
    box-sizing: border-box;
    margin-top: calc(9px + 16px);
  }
}